<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Otifier</string>
  <key>CFBundleIdentifier</key>
  <string>com.otifier.Otifier</string>
  <key>CFBundleVersion</key>
  <string>1.0.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleExecutable</key>
  <string>Otifier</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSUIElement</key>
  <true/>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Immanuel Thomas. MIT licensed.</string>
  <key>SUPublicEDKey</key>
  <string>bQ4620xeCzR4tlM5CpUdrcZh6Nqd6JOYZdZl7Pd5gck=</string>
  <key>SUFeedURL</key>
  <string>https://otifier.com/appcast.xml</string>
  <key>SUEnableInstallerLauncherService</key>
  <true/>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUScheduledCheckInterval</key>
  <integer>86400</integer>
</dict>
</plist>
